<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Local Citation Network for Cita</title>
    <meta name="author" content="Tim Woelfle">
    <meta name="author" content="Diego de la Hera">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/buefy.min.css">
    <script src="lib/vue.min.js"></script>
    <script src="lib/buefy.min.js"></script>
    <script src="lib/vis-network.min.js"></script>
    <style>
      [v-cloak] {
        display: none;
      }

      /* Improves dark mode in Cita (especially dropdowns of select-boxes) */
      :root {
          color-scheme: light only;
      }
    
      ::-webkit-scrollbar {
          height: 0.4rem;
          width: 0.4rem;
      }

      ::-webkit-scrollbar-thumb {
          background: #999;
          border-radius: 1ex;
      }

      html {
        font-size: 10pt;
        overflow-y: auto;
      }
      
      .retracted, .retracted a {
        background-color: #a00;
        color: #fff;
      }

      .retracted::after {
        content: " (RETRACTED!)"
      }

      /* Flexible height management */
      
      .columns {
        padding: 0;
        margin: 0;
      }
      
      .column, .b-tabs:not(:last-child), .columns:not(:last-child) {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      
      .b-tabs .tab-content {
        padding: 0;
      }
      
      .b-tabs:first-child .tab-content {
        padding-left: 1rem;
      }
      
      div.content {
        padding-top: 0.2rem
      }

      .tab-item {
        height: calc(100vh - 4.5rem);
        overflow-x: hidden;
        overflow-y: auto;
      }
      
      section.hero.is-fullheight {
        min-height: 90vh;
      }
      
      /* Menu */

      li.navbar-item {
        padding: 0.5rem 0.2rem
      }

      .navbar-end button, h2 button, .navbar-end .buttons .button {
        width: 3.8rem
      }

      h2 label.upload {
        display: inline
      }
      
      /* Hoverable h2 tabs */

      li h2.title {
        color: #999999;
      }

      li.is-active h2.title, li h2.title:hover {
        color: #000000;
      }

      /* Table */

      .table.is-narrow th {
        vertical-align: bottom;
      }

      .table.is-narrow td {
        vertical-align: middle;
      }

      /* Icon replacements */

      .b-table .table tr.is-selected .chevron-cell > a {
        color: #fff !important;
      }

      .mdi-chevron-left:before {
        content: "❮";
        font-style: normal;
      }

      .mdi-chevron-right:before {
        content: "❯";
        font-style: normal;
      }

      .mdi-magnify:before {
        content: "🔍";
        font: 1.3em bold sans-serif;
      }

      .mdi-close:before {
        content: "×";
        font: 2.3em bold sans-serif;
      }

      /* Vis.js Network tooltip */

      div.vis-tooltip {
        white-space: normal;
        max-width: 20vw;
        word-wrap: break-word;
        padding: 0.5vw;
      }
    </style>
  </head>
  <body>
    <section id="app" v-cloak>
      <div class="section columns" v-if="currentTabIndex !== undefined">
        <b-tabs v-model="showArticlesTab" :class="'column' + (fullscreenTable ? '' : ' is-three-fifths')" size="is-small" :style="'display: ' + ((fullscreenNetwork) ? 'none' : 'block')">
          <b-tab-item value="seedArticlesTab">
            <template slot="header">
              <h2 class="title is-4">{{ getString('input-articles.header', currentGraph.seedArticles.length) }}</h2>
            </template>
            <div class="content">
              <p>
                <a @click="fullscreenTable = !fullscreenTable; if (fullscreenTable) resetBothNetworks(); else initCurrentNetwork();" :title="getString('tables.fullscreen.toggle')">{{ (fullscreenTable) ? getString('tables.show-networks') : getString('tables.fullscreen') }}</a>
                <!-- Make sure network is fully loaded (otherwise citedArticles / citingArticles tabs would show eternal spinning wheels when JSON is reloaded) -->
                <template v-if="citedArticles && citingArticles">
                  / <a @click="showOptionsExportArticles = true">{{ getString('tables.export-csv-ris') }}</a> /
                  <b-tooltip dashed multilined position="is-bottom" type="is-dark"
                    :label="getString('tables.download-full-network-json.tooltip')">
                    <a @click="downloadJSON">{{ getString('tables.download-full-network-json') }}</a>
                  </b-tooltip>
                </template>
              </p>
              <p>
                {{ getString('input-articles.info.source') }}
                <b-tooltip dashed multilined type="is-dark" position="is-bottom" :label="completenessLabel" v-if="currentGraph.API !== 'Co*Citation Network via OpenAlex'">
                  ({{ getString('input-articles.info.completeness', completenessPercent) }})
                </b-tooltip>.
                {{ getString('input-articles.info.open-external', 'Local Citation Network') }}
                <b-tooltip dashed multilined position="is-bottom" type="is-dark"
                  :label="getString('input-articles.info.open-external.tooltip', currentGraph.source?.customListOfReferences?.length)">
                  <a @click="e => { e.preventDefault(); openUrl('https://LocalCitationNetwork.github.io/?listOfIds=' + currentGraph.source?.customListOfReferences.join(',')) }">
                    &#8618
                  </a>
                </b-tooltip>
              </p>
            </div>
            <b-field>
              <b-select v-model="filterColumn">
                <option value="titleAbstract">{{ getString('filter.select.title-abstract') }}</option>
                <option value="authors">{{ getString('filter.select.authors') }}</option>
                <option value="year">{{ getString('filter.select.year') }}</option>
                <option value="journal">{{ getString('filter.select.journal') }}</option>
                <option value="citedById">{{ getString('filter.select.cited-by-id') }}</option>
                <option value="citingId">{{ getString('filter.select.citing-id') }}</option>
              </b-select>
              <b-input v-model="filterString" icon="magnify" :placeholder="getString('filter.input.placeholder')" expanded
                :icon-right="filterString ? 'close' : undefined"
                icon-right-clickable
                @icon-right-click="filterString=''"></b-input>
              <span class="button is-static" style="border-radius: 0 4px 4px 0">{{ seedArticlesFiltered.length + " / " + seedArticles.length }}</span>
            </b-field>
            <b-table ref="seedArticlesTabTable" :data="seedArticlesFiltered" :selected.sync="selectedSeedArticle" :current-page.sync="seedArticlesTabTablePage"
              :default-sort="['numberInSourceReferences', 'asc']"
              @keyup.native.arrow-left="toggleArticle"
              @keyup.native.arrow-right="toggleArticle"
              @keydown.native.arrow-up.capture="tableArrowUpChangePage"
              @keydown.native.arrow-down.capture="tableArrowDownChangePage"
              detailed :has-detailed-visible="row => (row.authors.length || citedCount(row.id) || citingCount(row.id) || row.abstract || row.tldr)"
              hoverable striped narrowed focusable
              paginated :per-page="articlesPerPage" pagination-position="both">
              <template slot="top-left">
                <b-field grouped>
                  <b-field>
                    <b-dropdown multiple v-model="showColumns">
                      <template #trigger>
                        <b-button class="select" style="width: 146.65px; padding-left: calc(.75em - 1px); padding-right: 2.5em; text-align: left; border-radius: 4px 0 0 4px; border-right: 0px">
                          {{ getString('filter.show-columns') }}
                        </b-button>
                      </template>
                      <b-dropdown-item value="numberInSourceReferences" v-if="showNumberInSourceReferences"># {{ getString('table.column.number-in-zotero.tooltip') }}</b-dropdown-item>
                      <b-dropdown-item value="title">{{ getString('table.column.title.label') }}</b-dropdown-item>
                      <b-dropdown-item value="author">{{ getString('table.column.authors.label') }}</b-dropdown-item>
                      <b-dropdown-item value="year">{{ getString('table.column.year.label') }}</b-dropdown-item>
                      <b-dropdown-item value="journal">{{ getString('table.column.journal.label') }}</b-dropdown-item>
                      <b-dropdown-item value="totalCitingCount">{{ getString('table.column.references.label') }}</b-dropdown-item>
                      <b-dropdown-item value="citedCount">{{ getString('table.column.cited.label') }}</b-dropdown-item>
                      <b-dropdown-item value="citingCount">{{ getString('table.column.citing.label') }}</b-dropdown-item>
                    </b-dropdown>
                  
                    <b-select v-model="articlesPerPage">
                      <option value="10">{{ getString('filter.show-rows-per-page', 10) }}</option>
                      <option value="20">{{ getString('filter.show-rows-per-page', 20) }}</option>
                      <option value="50">{{ getString('filter.show-rows-per-page', 50) }}</option>
                      <option value="100">{{ getString('filter.show-rows-per-page', 100) }}</option>
                      <option value="200">{{ getString('filter.show-rows-per-page', 200) }}</option>
                      <option value="500">{{ getString('filter.show-rows-per-page', 500) }}</option>
                    </b-select>
                  </b-field>
                </b-field>
              </template>
              <template slot="detail" slot-scope="props">
                <p class="content" v-if="citedArticles.length && ((currentGraph.allCited) ? (props.row.referencesCount || props.row.references?.length) : citedBySeedArticleId(citedArticles, props.row.id).length)">
                  <b-button v-if="citedArticles.length && ((currentGraph.allCited) ? (props.row.referencesCount || props.row.references?.length) : citedBySeedArticleId(citedArticles, props.row.id).length)" 
                    @click="showArticlesTab='citedArticlesTab'; filterColumn='citedBySeedArticleId'; filterString=props.row.id">
                    {{ getString('table.detail.filter-cited') }} ({{ citedBySeedArticleId(citedArticles, props.row.id).length }})
                  </b-button>
                </p>
                <p class="content" v-if="props.row.authors.length">
                  <b>{{ getString('filter.select.authors') }} ({{ props.row.authors.length }}):</b>
                  <template v-for="(author, index) in props.row.authors">
                    <template v-if="index !== 0">; </template>
                    <b-tooltip
                      multilined
                      type="is-light"
                      :triggers="['click']"
                      :auto-close="['outside', 'escape']">
                      <template v-slot:content>
                        <a @click="e => {e.preventDefault(); openUrl('https://scholar.google.com/scholar?q=' + authorString([author]))}">Google Scholar</a>
                      </template>
                      <a>{{ authorString([author]) }}</a>
                    </b-tooltip>
                  </template>
                </p>
                <template v-if="props.row.abstract">
                  <h4 class="title is-6">{{ getString('abstract') }}</h4>
                  <p v-html="formatTags(props.row.abstract)" class="content"></p>
                </template>
              </template>

              <b-table-column label="#" :meta="getString('table.column.number-in-zotero.tooltip')" :visible="showNumberInSourceReferences && showColumns.includes('numberInSourceReferences')" 
                sortable field="numberInSourceReferences">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-right" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  {{ (props.row.isSource) ? '' : props.row.numberInSourceReferences }}
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.title.label')" v-slot="props" :visible="showColumns.includes('title')"
                sortable field="title">
                <!-- id is for scrolling to row when network node is clicked -->
                <span :id="props.row.id" :class="{ retracted: props.row.isRetracted }">
                  {{ (props.row.id === currentGraph.source?.id) ? 'Source: ' : '' }}
                  <template v-if="props.row.id.substr(0,3) !== 'tmp'">
                    <a @click="e => {e.preventDefault(); openItem(props.row.id)}" href="">
                      {{ props.row.title }}
                    </a>
                  </template>
                  <template v-else-if="props.row.url">
                    <a @click="e => {e.preventDefault(); openUrl(props.row.url)}" href="">
                      {{ props.row.title + ' \u21AA' }}
                    </a>
                  </template>
                  <template v-else>
                    {{ props.row.title }}
                  </template>
                </span>
              </b-table-column>
              <b-table-column :label="getString('table.column.authors.label')" v-slot="props" :visible="showColumns.includes('author')"
                sortable :custom-sort="sortAuthorsWrapper">
                <b-tooltip dashed multilined :label="authorString(props.row.authors)" position="is-left" type="is-dark">
                  {{ props.row.authors[0]?.LN }}
                </b-tooltip>
              </b-table-column>
              <b-table-column :label="getString('table.column.year.label')" meta="Hover year to see journal" :visible="showColumns.includes('year')"
                sortable field="year">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-left" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  <b-tooltip dashed :label="props.row.journal" position="is-left" type="is-dark">
                    {{ props.row.year }}
                  </b-tooltip>
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.journal.label')" :visible="showColumns.includes('journal')"
                sortable field="journal">
                <template v-slot="props">
                  {{ props.row.journal }}
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.references.label')" :meta="getString('table.column.references.tooltip')" :visible="showColumns.includes('totalCitingCount')"
                sortable :custom-sort="sortReferencesWrapper">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-left" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  <b-tooltip :label="getString('table.column.references.tooltip')" dashed position="is-left" type="is-dark">
                    {{ props.row.referencesCount || props.row.references?.length }}
                  </b-tooltip>
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.cited.label')" :meta="getString('table.column.cited.tooltip')" :visible="showColumns.includes('citedCount')"
                sortable :custom-sort="sortCitedWrapper" field="citedCount">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-left" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  <b-tooltip :label="getString('table.column.cited.tooltip')" dashed position="is-left" type="is-dark">
                    <a @click="showArticlesTab='seedArticlesTab'; filterColumn='citingId'; filterString=props.row.id">
                      {{ citedCount(props.row.id) }}
                    </a>
                  </b-tooltip>
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.citing.label')" :meta="getString('table.column.citing.tooltip')" :visible="showColumns.includes('citingCount')"
                sortable :custom-sort="sortCitingWrapper" field="citingCount">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-left" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  <b-tooltip :label="getString('table.column.citing.tooltip')" dashed position="is-left" type="is-dark">
                    <a @click="showArticlesTab='seedArticlesTab'; filterColumn='citedById'; filterString=props.row.id">
                      {{ citingCount(props.row.id) }}
                    </a>
                  </b-tooltip>
                </template>
              </b-table-column>
            </b-table>
          </b-tab-item>

          <!-- Have to use currentGraph.citedArticles === undefined to show progress indicator because the computed always returns [] if undefined -->
          <b-tab-item value="citedArticlesTab" :disabled="currentGraph.citedArticles === undefined" v-if="currentGraph.citedArticles === undefined || citedArticles.length || currentGraph.API === 'Co*Citation Network via OpenAlex'">
            <template slot="header">
              <h2 class="title is-4">
                {{ getString('all-cited.header', ['▲', citedArticles.length]) }}
              </h2>
            </template>
            <div class="content" v-if="citedArticles.length">
              <p>
                <a @click="fullscreenTable = !fullscreenTable; if (fullscreenTable) resetBothNetworks(); else initCurrentNetwork();" :title="getString('tables.fullscreen.toggle')">{{ (fullscreenTable) ? getString('tables.show-networks') : getString('tables.fullscreen') }}</a>
                <!-- Make sure network is fully loaded (otherwise citedArticles / citingArticles tabs would show eternal spinning wheels when JSON is reloaded) -->
                <template v-if="citedArticles && citingArticles">
                  / <a @click="showOptionsExportArticles = true">{{ getString('tables.export-csv-ris') }}</a> /
                  <b-tooltip dashed multilined position="is-bottom" type="is-dark"
                    :label="getString('tables.download-full-network-json.tooltip')">
                    <a @click="downloadJSON">{{ getString('tables.download-full-network-json') }}</a>
                  </b-tooltip>
                </template>
              </p>
              <p>
                {{ getString('all-cited.info') }}
              </p>
              <p>
                <a @click="$set(currentGraph, 'deDuplicate', !currentGraph.deDuplicate)">{{ (!currentGraph.deDuplicate) ?  getString('all-cited.not-deduplicated') : getString('all-cited.deduplicated') }}</a>
              </p>
            </div>
            <b-field>
              <b-select v-model="filterColumn">
                <option value="titleAbstract">{{ getString('filter.select.title-abstract') }}</option>
                <option value="authors">{{ getString('filter.select.authors') }}</option>
                <option value="year">{{ getString('filter.select.year') }}</option>
                <option value="journal">{{ getString('filter.select.journal') }}</option>
                <option value="citedBySeedArticleId">{{ getString('filter.select.cited-by-id') }}</option>
              </b-select>
              <b-input v-model="filterString" icon="magnify" :placeholder="getString('filter.input.placeholder')" expanded
                :icon-right="filterString ? 'close' : undefined"
                icon-right-clickable
                @icon-right-click="filterString=''"></b-input>
              <span class="button is-static" style="border-radius: 0 4px 4px 0">{{ citedArticlesFiltered.length + " / " + citedArticles.length }}</span>
            </b-field>
            <b-table ref="citedArticlesTabTable" :data="citedArticlesFiltered" :selected.sync="selectedCitedArticle" :current-page.sync="citedArticlesTabTablePage"
              :default-sort="['citedCount', 'desc']"
              @keyup.native.arrow-left="toggleArticle"
              @keyup.native.arrow-right="toggleArticle"
              @keydown.native.arrow-up.capture="tableArrowUpChangePage"
              @keydown.native.arrow-down.capture="tableArrowDownChangePage"
              detailed hoverable striped narrowed focusable
              paginated :per-page="articlesPerPage" pagination-position="both">
              <template slot="top-left">
                <b-field grouped>
                  <b-field>
                    <b-dropdown multiple v-model="showColumns">
                      <template #trigger>
                        <b-button class="select" style="width: 146.65px; padding-left: calc(.75em - 1px); padding-right: 2.5em; text-align: left; border-radius: 4px 0 0 4px; border-right: 0px">
                          {{ getString('filter.show-columns') }}
                        </b-button>
                      </template>
                      <b-dropdown-item value="numberInSourceReferences" v-if="showNumberInSourceReferences"># {{ getString('table.column.number-in-zotero.tooltip') }}</b-dropdown-item>
                      <b-dropdown-item value="title">{{ getString('table.column.title.label') }}</b-dropdown-item>
                      <b-dropdown-item value="author">{{ getString('table.column.authors.label') }}</b-dropdown-item>
                      <b-dropdown-item value="year">{{ getString('table.column.year.label') }}</b-dropdown-item>
                      <b-dropdown-item value="journal">{{ getString('table.column.journal.label') }}</b-dropdown-item>
                      <b-dropdown-item value="citedCount">{{ getString('table.column.cited.label') }}</b-dropdown-item>
                    </b-dropdown>
                  
                    <b-select v-model="articlesPerPage">
                      <option value="10">{{ getString('filter.show-rows-per-page', 10) }}</option>
                      <option value="20">{{ getString('filter.show-rows-per-page', 20) }}</option>
                      <option value="50">{{ getString('filter.show-rows-per-page', 50) }}</option>
                      <option value="100">{{ getString('filter.show-rows-per-page', 100) }}</option>
                      <option value="200">{{ getString('filter.show-rows-per-page', 200) }}</option>
                      <option value="500">{{ getString('filter.show-rows-per-page', 500) }}</option>
                    </b-select>
                  </b-field>
                </b-field>
              </template>
              <template slot="detail" slot-scope="props">
                <p class="content" v-if="props.row.authors.length">
                  <b>{{ getString('filter.select.authors') }} ({{ props.row.authors.length }}):</b>
                  <template v-for="(author, index) in props.row.authors">
                    <template v-if="index !== 0">; </template>
                    <b-tooltip
                      multilined
                      type="is-light"
                      :triggers="['click']"
                      :auto-close="['outside', 'escape']">
                      <template v-slot:content>
                        <a @click="e => {e.preventDefault(); openUrl('https://scholar.google.com/scholar?q=' + authorString([author]))}">Google Scholar</a>
                      </template>
                      <a>{{ authorString([author]) }}</a>
                    </b-tooltip>
                  </template>
                </p>
                <template v-if="props.row.abstract">
                  <h4 class="title is-6">{{ getString('abstract') }}</h4>
                  <p v-html="formatTags(props.row.abstract)" class="content"></p>
                </template>
              </template>
              
              <b-table-column :label="getString('table.column.title.label')" v-slot="props" :visible="showColumns.includes('title')"
                sortable field="title">
                <!-- id is for scrolling to row when network node is clicked -->
                <span :id="props.row.id" :class="{ retracted: props.row.isRetracted }">
                  {{ (props.row.id === currentGraph.source?.id) ? 'Source: ' : (seedArticlesIds.includes(props.row.id) ? (getString('table.column.title.seed-article') + ': ') : '') }}
                  <template v-if="props.row.id.substr(0,3) !== 'tmp'">
                    <a @click="e => {e.preventDefault(); openItem(props.row.id)}" href="">
                      {{ props.row.title }}
                    </a>
                  </template>
                  <template v-else-if="props.row.url">
                    <a @click="e => {e.preventDefault(); openUrl(props.row.url)}" href="">
                      {{ props.row.title + ' \u21AA' }}
                    </a>
                  </template>
                  <template v-else>
                    {{ props.row.title }}
                  </template>
                </span>
              </b-table-column>
              <b-table-column :label="getString('table.column.authors.label')" v-slot="props" :visible="showColumns.includes('author')"
                sortable :custom-sort="sortAuthorsWrapper">
                <b-tooltip dashed multilined :label="authorString(props.row.authors)" position="is-left" type="is-dark">
                  {{ props.row.authors[0]?.LN }}
                </b-tooltip>
              </b-table-column>
              <b-table-column :label="getString('table.column.year.label')" meta="Hover year to see journal" :visible="showColumns.includes('year')"
                sortable field="year">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-left" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  <b-tooltip dashed :label="props.row.journal" position="is-left" type="is-dark">
                    {{ props.row.year }}
                  </b-tooltip>
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.journal.label')" :visible="showColumns.includes('journal')"
                sortable field="journal">
                <template v-slot="props">
                  {{ props.row.journal }}
                </template>
              </b-table-column>
              <b-table-column :label="getString('table.column.cited.label')" :meta="getString('table.column.cited.tooltip')" :visible="showColumns.includes('citedCount')"
                sortable :custom-sort="sortCitedWrapper" field="citedCount">
                <template v-slot:header="{ column }">
                  <b-tooltip :label="column.meta" dashed position="is-left" type="is-dark">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <template v-slot="props">
                  <b-tooltip :label="getString('table.column.cited.tooltip')" dashed position="is-left" type="is-dark">
                    <a @click="showArticlesTab='seedArticlesTab'; filterColumn='citingId'; filterString=props.row.id">
                      {{ citedCount(props.row.id) }}
                    </a>
                  </b-tooltip>
                </template>
              </b-table-column>
            </b-table>
          </b-tab-item>
        </b-tabs>

        <b-tabs v-model="showAuthorNetwork" class="column" size="is-small" :animated="false" :style="'display: ' + ((fullscreenTable) ? 'none' : 'block')">
          <b-tab-item :loading="true">
            <template slot="header"><h2 class="title is-4">{{ getString('networks.citation.header') }}</h2></template>
            
            <b-loading :is-full-page="false" :active="citationNetworkIsLoading"></b-loading>
            <div id="citationNetwork" style="height: 100%; cursor: pointer;" :loading="true"></div>
            <span style="position:absolute; top: 0; left: 1rem">
              <a @click="fullscreenNetwork = !fullscreenNetwork; setTimeout(function () { citationNetwork.fit() }, 1)" :title="getString('networks.fullscreen.toggle')">{{ (fullscreenNetwork) ? getString('networks.show-tables') : getString('networks.fullscreen') }}</a> /
              <a @click="indexFAQ = 'citation-network'; showFAQ = true;" href="#citation-network">{{ getString('networks.how-to') }}</a> /
              <a @click="showCitationNetworkSettings = true">{{ getString('networks.settings') }}</a> /
              <a @click="$set(currentGraph, 'citationNetworkTurned', !currentGraph.citationNetworkTurned); changeCurrentNetworkSettings()" :title="getString('networks.rotate')">{{ (currentGraph.citationNetworkTurned) ? '↺' : '↻'}}</a>
            </span>
            <span style="position:absolute; top: 0; right: 0" v-if="true || citationNetwork?.layoutEngine.options.hierarchical.enabled">{{ (['LR', 'DU'].includes(citationNetwork?.layoutEngine.options.hierarchical.direction)) ? getString('networks.citation.newer-articles') : getString('networks.citation.older-articles') }} {{ (['LR', 'RL'].includes(citationNetwork?.layoutEngine.options.hierarchical.direction)) ? '→' : '↑' }}</span>
            <!--<span style="position:absolute; bottom: 0; left: 1rem">
              (seed articles and articles with a minimum rank of
              <select v-model="citationNetworkMinRank" @change="changeCurrentNetworkSettings()">
                <template v-for="val in [...Array(100).keys()].splice(1)">
                  <option :value="val">{{ val }}</option>
                </template>
              </select>
              are shown)
            </span>-->
            <span style="position:absolute; bottom: 0; right: 0" v-if="true || citationNetwork?.layoutEngine.options.hierarchical.enabled">{{ (['LR', 'DU'].includes(citationNetwork?.layoutEngine.options.hierarchical.direction)) ? getString('networks.citation.older-articles') : getString('networks.citation.newer-articles') }} {{ (['LR', 'RL'].includes(citationNetwork?.layoutEngine.options.hierarchical.direction)) ? '←' : '↓' }}</span>
          </b-tab-item>
          <b-tab-item>
            <template slot="header"><h2 class="title is-4">{{ getString('networks.coauthorship.header') }}</h2></template>
            
            <b-loading :is-full-page="false" :active="authorNetworkIsLoading"></b-loading>
            <div id="authorNetwork" style="height: 100%; cursor: pointer;"></div>
            <span style="position:absolute; top: 0; left: 1rem">
              <a @click="fullscreenNetwork = !fullscreenNetwork; setTimeout(function () { authorNetwork.fit() }, 1)" :title="getString('networks.fullscreen.toggle')">{{ (fullscreenNetwork) ? getString('networks.show-tables') : getString('networks.fullscreen') }}</a> /
              <a @click="indexFAQ = 'author-network'; showFAQ = true;" href="#author-network">{{ getString('networks.how-to') }}</a> /
              <a @click="showAuthorNetworkSettings = true">{{ getString('networks.settings') }}</a>
            </span>
            <span style="position:absolute; bottom: 0; left: 1rem">
              ({{ getString('networks.coauthorship.slider', authorNetworkMinPublications) }}:
              <select v-model="authorNetworkMinPublications" @change="changeCurrentNetworkSettings()">
                <template v-for="val in [...Array(seedArticles.length+1).keys()].splice(1)">
                  <option :value="val">{{ val }}</option>
                </template>
              </select>)
            </span>
          </b-tab-item>
        </b-tabs>
      </div>
      
      <section class="hero is-fullheight" v-show="currentTabIndex === undefined">
        <div class="hero-body">
          <div class="container has-text-centered">
            <b-loading :active.sync="isLoading"></b-loading>
          </div>
        </div>
      </section>
      
      <b-modal :active.sync="showCitationNetworkSettings" :render-on-mounted="true" :destroy-on-hide="false" :width="750" id="citationNetworkSettingsModal">
        <div class="card">
          <header class="modal-card-head">
            <content>
              <h3 class="modal-card-title">{{ getString('networks.citation.header') }} {{ getString('network-settings-modal.settings') }}</h3>
            </content>
          </header>
          <div class="card-content">
            <b-field grouped>
              <b-field :label="getString('network-settings-modal.node-color')" label-position="on-border">
                <b-select v-model="citationNetworkNodeColor" @input="changeCurrentNetworkSettings()">
                  <option value="year">{{ getString('filter.select.year') }}</option>
                  <option value="journal">{{ getString('filter.select.journal') }}</option>
                </b-select>
              </b-field>
            </b-field>
            <b-field grouped>
              <b-field :label="getString('network-settings-modal.min-degree-cited')" label-position="on-border">
                <b-input v-model.lazy="minDegreeCitedArticles" type="number" :min="1" :step="1" 
                  @blur="changeCurrentNetworkSettings()" required style="width: 15rem">
              </b-field>
              <b-field :label="getString('network-settings-modal.max-number-cited')" label-position="on-border">
                <b-input v-model.lazy="maxCitedArticles" type="number" :min="0" :max="citedArticles.length" :step="1" 
                  @blur="changeCurrentNetworkSettings()" required style="width: 15rem">
              </b-field>
            </b-field>
            <p class="content">
              {{ getString('network-settings-modal.p1.1') }} <a @click="e => {e.preventDefault(); openUrl('https://visjs.github.io/vis-network/docs/network/')}">vis.js network library</a>. {{ getString('network-settings-modal.p1.2') }} {{ getString('network-settings-modal.p1.3') }}
              <a @click="currentGraph.customConfigCitationNetwork = undefined; resetCurrentNetwork(); initCurrentNetwork(); saveState();">
                {{ getString('network-settings-modal.click-to-reset') }}
              </a>
            </p>
            <div id="citationNetworkConfigure"></div>
          </div>
        </div>
      </b-modal>

      <b-modal :active.sync="showAuthorNetworkSettings" :render-on-mounted="true" :destroy-on-hide="false" :width="750" id="authorNetworkSettingsModal">
        <div class="card">
          <header class="modal-card-head">
            <content>
              <h3 class="modal-card-title">{{ getString('networks.coauthorship.header') }} {{ getString('network-settings-modal.settings') }}</h3>
            </content>
          </header>
          <div class="card-content">
            <b-field grouped>
              <b-field :label="getString('network-settings-modal.node-color')" label-position="on-border">
                <b-select v-model="authorNetworkNodeColor" @input="changeCurrentNetworkSettings()">
                  <option value="firstArticle">{{ getString('network-settings-modal.first-article') }}</option>
                  <option value="lastArticle">{{ getString('network-settings-modal.last-article') }}</option>
                </b-select>
              </b-field>
              <b-field :label="getString('network-settings-modal.show-first-names')" label-position="on-border">
                <b-select v-model="authorNetworkFirstNames" @input="changeCurrentNetworkSettings()" style="width: 15rem">
                  <option :value="false">{{ getString('network-settings-modal.no') }}</option>
                  <option :value="true">{{ getString('network-settings-modal.yes') }}</option>
                </b-select>
              </b-field>
            </b-field>
            <p class="content">
              {{ getString('network-settings-modal.p1.1') }} <a @click="e => {e.preventDefault(); openUrl('https://visjs.github.io/vis-network/docs/network/')}">vis.js network library</a>. {{ getString('network-settings-modal.p1.2') }}
              <a @click="currentGraph.customConfigAuthorNetwork = undefined; resetCurrentNetwork(); initCurrentNetwork(); saveState();">
                {{ getString('network-settings-modal.click-to-reset') }}
              </a>
            </p>
            <div id="authorNetworkConfigure"></div>
          </div>
        </div>
      </b-modal>

      <b-modal :active.sync="showOptionsExportArticles" :width="460">
        <div class="card">
          <header class="modal-card-head">
            <content>
              <h3 class="modal-card-title">{{ getString('export-modal.header') }}</h3>
            </content>
          </header>
          <div class="card-content">
            <p class="content">
              {{ getString('export-modal.p1') }}
            </p>
            <b-field><b-checkbox v-model="exportArticles" native-value="seedArticles">{{ getString('input-articles.header', seedArticles?.length) }}</b-checkbox></b-field>
            <b-field><b-checkbox v-model="exportArticles" native-value="citedArticlesDeDuplicated">{{ getString('export-modal.cited', citedArticlesDeDuplicated?.length) }}</b-checkbox></b-field>
            <b-field><b-checkbox v-model="exportArticles" native-value="citingArticlesDeDuplicated" v-if="currentGraph.citingArticles?.length">Citing Articles ({{ citingArticlesDeDuplicated?.length }})</b-checkbox></b-field>
            <b-field><b-checkbox v-model="exportArticles" native-value="coCitedArticlesDeDuplicated" v-if="currentGraph.API === 'Co*Citation Network via OpenAlex'">Co-Cited Articles ({{ coCitedArticlesDeDuplicated?.length }})</b-checkbox></b-field>
            <b-field><b-checkbox v-model="exportArticles" native-value="coCitingArticlesDeDuplicated" v-if="currentGraph.API === 'Co*Citation Network via OpenAlex'">Co-Citing Articles ({{ coCitingArticlesDeDuplicated?.length }})</b-checkbox></b-field>
          </div>
          <footer class="modal-card-foot">
            <b-button type="is-primary" :title="getString('export-modal.csv.title')" @click="downloadCSVData(exportArticlesArray)">{{ getString('export-modal.export') }} CSV ({{ exportArticlesArray.length }})</b-button>
            <b-button type="is-primary" :title="getString('export-modal.ris.title')" @click="downloadRISData(exportArticlesArray)">{{ getString('export-modal.export') }} RIS ({{ exportArticlesArray.length}})</b-button>
          </footer>
        </div>
      </b-modal>

      <b-modal :active.sync="showFAQ" :width="840" scroll="keep">
        <div class="card">
          <b-collapse class="card" id="citation-network" :open="indexFAQ === 'citation-network'" @open="indexFAQ = 'citation-network'" animation="none">
            <div slot="trigger" slot-scope="props" class="card-header" role="buton">
              <h4 class="card-header-title">{{ getString('faq.citation.header')}}</h4>
            </div>
            <div class="card-content content">
              <p>
                {{ getString('faq.citation.content.p1', [' ● ', '▲']) }}
              </p>
              <p>
                {{ getString('faq.citation.content.p2') }}
              </p>
            </div>
          </b-collapse>
          <b-collapse class="card" id="author-network" :open="indexFAQ === 'author-network'" @open="indexFAQ = 'author-network'" animation="none">
            <div slot="trigger" slot-scope="props" class="card-header" role="buton">
              <h4 class="card-header-title">{{ getString('faq.coauthorship.header')}}</h4>
            </div>
            <div class="card-content content">
              <p>
                {{ getString('faq.coauthorship.content.p1') }}
              </p>
              <p>
                {{ getString('faq.coauthorship.content.p2') }}
                </p>
              <p>
                {{ getString('faq.coauthorship.content.p3') }}
                </p>
            </div>
          </b-collapse>
        </div>
      </b-modal>
    </section>

    <script src="index.js"></script>
  </body>
</html>
